{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .heading {
      text-align: center;
    }

    .table-head{
      background-color: #00c5bb;
    }
  </style>
</head>
<br><br>
<div class="container" style="min-height: 70vh;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title heading">My Marks</h4>
    </div>
    <table class="table table-hover table-bordered" id="dev-table" style="margin-top: 50px;">
      <thead  class="table-head">
        <tr>

          <th class="heading">Course</th>
          <th class="heading">Total Marks</th>
          <th class="heading">correct answers</th>
          {% comment %} <th>Number of Attempts</th> {% endcomment %}
          <th class="heading">Exam Date</th>
          <th class="heading">Percentage</th>
          <th class="heading">Status</th>
        </tr>
      </thead>
      {% for t in results %}
      <tr>

        <td> {{t.exam}}</td>
        <td class="heading"> {{t.marks}}</td>
        <td class="heading"> {{t.correct_answers}}</td>
        {% comment %} <td>Attempt {{ forloop.counter }}</td> {% endcomment %}
        <td class = "exam_date"> {{t.date|safe}}</td>
        <td class="heading"> {{t.percentage}}%</td>
        {% comment %} <td> {{t.status}}</td> {% endcomment %}
        {% if t.status == "Pass" %}
        <td style="background-color:lightgreen; text-align: center;"> Pass</td>
        {% else %}
        <td style="background-color:#da5349; text-align: center;"> Fail</td>
        {% endif %} 
        
        
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<script>
  // Function to convert exam_time to local time string
function convertToLocalTime() {
  // Get all elements with the class 'exam_time'
  var examTimeElements = document.querySelectorAll('.exam_date');
  
  // Loop through each element
  const options = {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
    hour: "numeric",
    minute: "numeric"
  };
  examTimeElements.forEach(function(element) {
      // Get the UTC time string from the element
      var utcTimeString = element.textContent.trim();
      console.log("utcTimeString = >",utcTimeString);

      // Parse the UTC date string into a Date object
      var utcDate = new Date(utcTimeString);

      // Get the timezone offset in minutes
      var timezoneOffset = utcDate.getTimezoneOffset();
      console.log(timezoneOffset)

      // Adjust the date to the local timezone
      var localDate = new Date(utcDate.getTime() - (timezoneOffset * 60000));

      // Convert local date to UTC date
      console.log(localDate.toLocaleString("en-US", options))
      element.textContent = localDate.toLocaleString("en-US", options)
  })};

// Call the function to convert exam_time to local time
convertToLocalTime();
</script>
{% endblock content %}