{% extends "student/studentbase.html" %}
{% block sidebar %}
{% endblock sidebar %}
{% block content %}
  {% load static %}
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet"
          id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
    function getRemainingTime() {
        var remaining_time = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, 'remaining_time'.length + 1) === ('remaining_time' + '=')) {
                    remaining_time = decodeURIComponent(cookie.substring('remaining_time'.length + 1));
                    break;
                }
            }
        }
        if (!remaining_time) {
            remaining_time = "{{ request.session.remaining_time }}";
            
                var d = new Date();
                d.setTime(d.getTime() + (90 * 60 * 1000)); // set expiry time to 90 minutes
                var expires = "expires=" + d.toUTCString();
                document.cookie = "remaining_time=" + remaining_time + ";" + expires + ";path=/";
            
        }
        return parseInt(remaining_time);
    }

    function updateTimer() {
        var remaining_time = getRemainingTime();
        var minutes = Math.floor(remaining_time / 60);
        var seconds = remaining_time % 60;
        if(minutes==100)
        {
          setCookie("data",JSON.stringify({}),3)
        }
        document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";
        if (remaining_time == 0) {
            clearInterval(intervalId);
            document.getElementById("timer").innerHTML = "Time's up!";
            document.getElementById("form").submit();
        } else {
            remaining_time -= 1;
            
                var d = new Date();
                d.setTime(d.getTime() + (100 * 60 * 1000)); // set expiry time to 100 minutes
                var expires = "expires=" + d.toUTCString();
                document.cookie = "remaining_time=" + remaining_time + ";" + expires + ";path=/";
            }
        }
    

    function expireTimer() {
        
            document.cookie = "remaining_time=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        
        clearInterval(intervalId);
    }

    var intervalId = setInterval(updateTimer, 1000);

    
    </script>
    <style>
    .grid-container {
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: 100px 100px 100px 100px; 
      gap: 10px;
      padding: 10px;
    }
    .content {
      margin-left: 0px;
      background-position: center;
      background-size: cover;
      height: 100vh;
      transition: 0s;
    }
    </style>
  </head>
  <div class="jumbotron my-4">
    <div>
      Time Left : <span id="timer"></span>
    </div>
    <form class="form"
          autocomplete="off"
          id="form"
          onSubmit
          action="/student/calculate-marks"
          method="POST">
      {% csrf_token %}
      <h2 style="text-align: center;">Course: {{ course.course_name }}</h2>
      {% for q in questions %}
        <h3 class="text-danger">{{ questions.number }}. {{ q.question }}</h3>
        <h4 style="text-align: right;">[{{ q.marks }} Marks]</h4>
        {% if q.question_image %}
          <img src="{% static '' %}{{ q.question_image }} " width="350" height="250">
        {% endif %}
        <input type="hidden"
               name="csrfmiddlewaretoken"
               value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
        <input type= "hidden" name="question_id" value="{{ q.id }}" id="question_id">
        {% for option in options %}
          <div class="form-check mx-4">
            <input class="form-check-input" type="radio" name="{{ questions.number }}"  value={{ option.option }}>
            <label class="form-check-label" for="option">{{ option.option }}</label>
            {% comment %} {{q.option1}} {% endcomment %}
          </label>
        </div>
      {% endfor %}
    {% endfor %}
    <div class="grid-container">
      <div>
        {% if questions.has_previous %}
          <a type="button"
             class="btn btn-success btn-lg"
             style="border-radius: 0%"
             onclick="save()"
             href="{% url 'start-exam' course.id  %}?page={{ questions.previous_page_number }}">Previous</a>
        {% endif %}
      </div>
      <div>
        <a type="button"
           class="btn btn-success btn-lg"
           style="border-radius: 0%; color:white;"
           onclick="save()">Save</a>
      </div>
      <div>
        <button type="button"
                class="btn btn-success btn-lg"
                style="border-radius: 0%"
                onclick="clear_selection({{ questions.0.id}})">Clear</button>
      </div>
      <div>
        {% if questions.has_next %}
          <a type="button"
             class="btn btn-success btn-lg"
             onclick="save()"
             style="border-radius: 0%"
             href="{% url 'start-exam' course.id  %}?page={{ questions.next_page_number }}">Next</a>
        {% endif %}
      </div>
    </ul>
  </div>
  <div style="float:left">
    <input class="btn btn-success btn-lg"
           style="border-radius: 0%;
                  display:block"
           onclick="cancel()"
           type="button"
           value="Cancel">
  </div>
    <div style="float:right">
      <input class="btn btn-success btn-lg"
             style="border-radius: 0%;
                    display:block"
             onclick="save()"
             type="submit"
             value="Submit Answers">
    </div>
</form>
</div>
<script> 
  document.getElementById("form").addEventListener("submit", function(event) {
    expireTimer();
    return true;
});
  

  function clear_selection(question_id)
  {
    if(retriveCookie('data')!=-1)
    {
      cookie_data = JSON.parse(retriveCookie('data'));
      
      var ele = document.getElementsByTagName('input'); 
        for(i = 0; i < ele.length; i++) { 
            if(ele[i].type=="radio") { 
              if(ele[i].checked){    
                ele[i].checked = !ele[i].checked;
              }
            } 
        }
      delete cookie_data[question_id];
      setCookie('data',JSON.stringify(cookie_data),3)
    }
    
  }


  function mark_selected(question_id)
  {
    
    if(retriveCookie('data')!=-1)
    {
      cookie_data = JSON.parse(retriveCookie('data'));
      
      var ele = document.getElementsByTagName('input'); 
        for(i = 0; i < ele.length; i++) { 
            if(ele[i].type=="radio") { 
                if(ele[i].value==cookie_data[question_id]){    
                  ele[i].checked = true
                }
            } 
        } 
    }
    
  }

  mark_selected({{questions.0.id}});
  

  function retriveCookie(name) {
    var name = name + '=';
    var cookies = decodeURIComponent(document.cookie).split(';');
    for (var i = 0; i<cookies.length; i++) {
       var c = cookies[i];
       while (c.charAt(0) == ' ') {
          c = c.substring(1);
       }
       if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
       }
    }
    return -1
 }


  function make_answer_dict()
  {
    if(document.cookie.indexOf('data=')==-1)
    {
      setCookie('data', JSON.stringify({}),1);
    }
  }

  make_answer_dict();
  function save(event) {
    // get switchTabCount from local storage
    switchTabCount = parseInt(localStorage.getItem("switchTabCount"));
    if (switchTabCount == 0) {
      console.log("about to call save");
      document.getElementById("form").submit();

      // close the tab
      // window.close();

    } else {
      if (event == "decrement") switchTabCount--;
      else switchTabCount++;
      localStorage.setItem("switchTabCount", switchTabCount);
      console.log("save called");
      var ele = document.getElementsByTagName('input');
      for (i = 0; i < ele.length; i++) {
        if (ele[i].type == "radio") {
          if (ele[i].checked) {
            var data_cookie = JSON.parse(retriveCookie('data'));

            data_cookie[{{questions.0.id }}] = ele[i].value;
          setCookie('data', JSON.stringify(data_cookie), 3)

        }
      }
    }
  }
  }
    
    
  function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function cancel(){
    setCookie('data',JSON.stringify({}),0);
    setCookie('allow',JSON.stringify({}),0);
    var url = "{% url 'take-exam' pk=course.id %}"
    console.log(url);
    window.location.href = url;
}

document.addEventListener("visibilitychange", (event) => {
    if (document.visibilityState == "hidden") { // Check for tab becoming inactive
      console.log("tab is inactive");
      // get switchTabCount from local storage
      switchTabCount = parseInt(localStorage.getItem("switchTabCount"));
      switchTabCount--;
      localStorage.setItem("switchTabCount", switchTabCount);
      if (switchTabCount >= 1) {
        showNotifications(switchTabCount); // Uncomment this line if you want to call showNotifications
      } else {
        save("decrement");
        alert("You have switched tabs more than 3 times. Your answers are saved and submitted.");
        console.log("about to call save");
      }
    } else {
      console.log("tab is active");
    }
  });

  function showNotifications(switchTabCount) {
    // First, check if the browser supports notifications
    if (!("Notification" in window)) {
      alert("This browser does not support desktop notifications");
    }

    // Request permission to show notifications
    Notification.requestPermission().then(function (permission) {
      console.log("in permission");
      if (permission === "granted") {
        // Create a new notification

        var notification = new Notification("Be Aware!!", {
          requireInteraction: true,
          body: "Click this notification to go back to the exam page and submit your answers. Your tab switch remaining: " + (switchTabCount) + " times.",
          icon: "https://media.istockphoto.com/id/1407160246/vector/danger-triangle-icon.jpg?s=1024x1024&w=is&k=20&c=avotbFj6kjGw3x4reQ6xO7poLs6AJQ-oCKzDPrP2teQ=" // Optional icon URL
        });

        // Optionally, you can handle notification events
        notification.onclick = function () {
          window.focus();
        };
      } else {
        alert("Permission denied");
      }
    });

  };

</script>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}
