{% extends "student/studentbase.html" %}
{% block sidebar %}
{% endblock sidebar %}
{% block content %}
{% load static %}
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script type="text/javascript">
    function getRemainingTime() {
        var remaining_time = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, 'remaining_time'.length + 1) === ('remaining_time' + '=')) {
                    remaining_time = decodeURIComponent(cookie.substring('remaining_time'.length + 1));
                    break;
                }
            }
        }
        if (!remaining_time) {
            remaining_time = "{{ request.session.remaining_time }}";
            
                var d = new Date();
                d.setTime(d.getTime() + (90 * 60 * 1000)); // set expiry time to 90 minutes
                var expires = "expires=" + d.toUTCString();
                document.cookie = "remaining_time=" + remaining_time + ";" + expires + ";path=/";
            
        }
        return parseInt(remaining_time);
    }

    function updateTimer() {
        var remaining_time = getRemainingTime();
        var minutes = Math.floor(remaining_time / 60);
        var seconds = remaining_time % 60;
        if(minutes==100)
        {
          setCookie("data",JSON.stringify({}),3)
        }
        document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";
        if (remaining_time == 0) {
            clearInterval(intervalId);
            document.getElementById("timer").innerHTML = "Time's up!";
            document.getElementById("form").submit();
        } else {
            remaining_time -= 1;
            
                var d = new Date();
                d.setTime(d.getTime() + (100 * 60 * 1000)); // set expiry time to 100 minutes
                var expires = "expires=" + d.toUTCString();
                document.cookie = "remaining_time=" + remaining_time + ";" + expires + ";path=/";
            }
        }
    
    function expireTimer() {
      document.cookie = "remaining_time=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      clearInterval(intervalId);  
    }

    var intervalId = setInterval(updateTimer, 1000);

    </script>
    <style>
    .grid-container {
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: 100px 100px 100px 100px; 
      gap: 10px;
      padding: 10px;
    }
    .content {
      margin-left: 0px;
      background-position: center;
      background-size: cover;
      height: 100vh;
      transition: 0s;
    }
    .section-2{
      width: 100%;
    }

    .course-name{
      text-decoration: underline 1px;
      text-align: center;
      text-underline-offset: 2px;
      font-size: xx-large;
    }
    .question_area{
      display: flex;
      gap: 1rem;
      margin-left: auto;
      font-size: large;
    }
    .question-number{
      font-size: medium;
      text-align: left;
      font-weight: 500;
    }
    .question-text{
      font-size: medium;
      text-align: left;
      font-weight: 500;
    }
    .marks-area{
      display: flex;
      flex-flow: row-reverse;
    }
    .side-text{
      color:gray;
      font-size: medium; 
    }

    .page-content{
      display: flex;
      gap: 1rem;
      margin-left: auto;
      width: 100%;
    }

    .option-info-text{
      text-align: left;
      font-size: medium;
      font-weight: 390;
    }
    .option-row{
      display: flex;
      /* gap:1rem; */
      margin-left:1.6rem;
    }
    .option-radiobutton-area{
      padding:0.5rem;
      padding-left: 0px;
    }
    .option-text-area{
      padding:.5rem;
    }

    .option-text{
      font-weight: normal;
    }

    .button-area-row-1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap:1rem;
      margin-top:1rem;
    }
    .button-area-row-2{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .green-bg-color{
      background-color:rgb(0, 149, 0);
    }
    .link-hover:hover{
      text-decoration: none;
    }

    .no-page-button{
      background-color: rgb(0, 113, 0);
      opacity: 50%;
      cursor: default;
    }

    .no-page-button:hover{
      background-color: rgb(0, 113, 0);
      opacity: 50%;
      cursor: default;
    }
    </style>
  </head>
  <div class="jumbotron">
    <div class="text-center">
      <span class="course-name">
        {{ course.course_name}}
      </span>
      
      <div class="side-text">
         Time left : <span id="timer"></span>
      </div>
    </div>
    <br/>
    <form class="form" autocomplete="off" id="form" onSubmit action="/student/calculate-marks" method="POST">
      {% csrf_token %}
      <div>
        <div style="float:right">
          <input class="w-1/2 ml-1 border border-red-600 text-white border-gray-500 py-2 px-4 rounded font-medium green-bg-color"
                 style="border-radius: 0%;
                        display:block"
                 onclick="save()"
                 type="submit"
                 value="Submit Exam">
        </div>
        <div style="float:right">
          <input class="w-1/2 ml-1 border border-red-600 text-white border-gray-500 py-2 px-4 rounded font-medium green-bg-color "
                 style="border-radius: 0%;
                        display:block"
                 onclick="cancel()"
                 type="button"
                 value="Leave Exam">
        </div>
          <br/>
      </div>
      {% for q in questions %}

      <div class="page-content">
        <div>
          <span class="question-number">  {{ questions.number }}. </span> 
        </div>
        <div class="section-2">

          <div class="question-box">
            <p class="question-text">
              {{ q.question }}
            </p>
            <div class="marks-area">
              <p class="side-text"> ({{ q.marks }} Marks)</p>
            </div>
  
            {% if q.question_image %}
              <div class="question_area">
                <img src="{% static '' %}{{ q.question_image }} " width="350" height="250" alt="Question's image">
              </div>
            {% endif %}
          </div>

          <div clas="option-box">
            <input type="hidden" name="csrfmiddlewaretoken" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
            
            <input type= "hidden" name="question_id" value="{{ q.id }}" id="question_id">
            <div class="options-area">
              <br>
              <p class="option-info-text">Select the options below for giving answer to the above question</p>
              {% for option in options %}
                <div class="option-row">
                  <div class="option-radiobutton-area">
                    <input class="form-check-input" type="radio" name="{{ questions.number }}"  value={{ option.option }}>
                  </div>
                  <div class="option-text-area">
                    <label class="form-check-label option-text" for="option">{{ option.option }}</label>
                    {% comment %} {{q.option1}} {% endcomment %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <br>
        </div>
      </div>
    {% endfor %}
    <div class="button-area-row-1"> 
      <div>
        <a type="button"
           class="w-1/2 ml-1 border border-red-600 text-white border-gray-500 hover:bg-red-700 py-2 px-4 rounded font-medium green-bg-color"
           style="border-radius: 0%; color:white;"
           onclick="save()">
           Save
        </a>
      </div>
      <div>
        <button type="button"
                class="w-1/2 ml-1 border border-red-600 text-white border-gray-500 py-2 px-4 rounded font-medium green-bg-color"
                style="border-radius: 0%;"
                onclick="clear_selection({{ questions.0.id}})">
          Clear
        </button>
      </div>
    </div>
    <div class="button-area-row-2">
      {% if questions.has_previous %}
        <div>
          <a type="button"
             class="w-1/2 ml-1 border border-red-600 text-white border-gray-500 py-2 px-4 rounded font-medium link-hover
             link-hover green-bg-color"
             style="border-radius: 0%"
             onclick="save()"
             href="{% url 'start-exam' course.id  %}?page={{ questions.previous_page_number }}">
              Previous
          </a>
        </div>
        {% else %}
        <div>
          <a type="button"
            class="w-1/2 ml-1 text-white border-gray-500 py-2 px-4 rounded font-medium no-page-button link-hover "
             style="border-radius: 0%"
             href="#">Previous</a>
        </div>
      {% endif %}
      {% if questions.has_next %}
        <div>
          <a type="button"
            class="w-1/2 ml-1 border border-red-600 text-white border-gray-500 py-2 px-4 rounded font-medium green-bg-color  link-hover"
             onclick="save()"
             style="border-radius: 0%"
             href="{% url 'start-exam' course.id  %}?page={{ questions.next_page_number }}">Next</a>
        </div>
        {% else %}
        <div>
          <a type="button"
            class="w-1/2 ml-1 text-white border-gray-500 py-2 px-4 rounded font-medium no-page-button link-hover "
             style="border-radius: 0%"
             href="#">Next</a>
        </div>
      {% endif %}
    </ul>
  </div>

</form>
</div>


<script> 
  document.getElementById("form").addEventListener("submit", function(event) {
    expireTimer();
    return true;
});
  

  function clear_selection(question_id)
  {
    if(retriveCookie('data')!=-1)
    {
      cookie_data = JSON.parse(retriveCookie('data'));
      
      var ele = document.getElementsByTagName('input'); 
        for(i = 0; i < ele.length; i++) { 
            if(ele[i].type=="radio") { 
              if(ele[i].checked){    
                ele[i].checked = !ele[i].checked;
              }
            } 
        }
      delete cookie_data[question_id];
      setCookie('data',JSON.stringify(cookie_data),3)
    }
    
  }


  function mark_selected(question_id)
  {
    
    if(retriveCookie('data')!=-1)
    {
      cookie_data = JSON.parse(retriveCookie('data'));
      
      var ele = document.getElementsByTagName('input'); 
        for(i = 0; i < ele.length; i++) { 
            if(ele[i].type=="radio") { 
                if(ele[i].value==cookie_data[question_id]){    
                  ele[i].checked = true
                }
            } 
        } 
    }
    
  }

  mark_selected({{questions.0.id}});
  

  function retriveCookie(name) {
    var name = name + '=';
    var cookies = decodeURIComponent(document.cookie).split(';');
    for (var i = 0; i<cookies.length; i++) {
       var c = cookies[i];
       while (c.charAt(0) == ' ') {
          c = c.substring(1);
       }
       if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
       }
    }
    return -1
 }


  function make_answer_dict()
  {
    if(document.cookie.indexOf('data=')==-1)
    {
      setCookie('data', JSON.stringify({}),1);
    }
  }

  make_answer_dict();
  function save(event) {
    // get switchTabCount from local storage
    switchTabCount = parseInt(localStorage.getItem("switchTabCount"));
    if (switchTabCount == 0) {
      console.log("about to call save");
      document.getElementById("form").submit();

      // close the tab
      // window.close();

    } else {
      if (event == "decrement") switchTabCount--;
      else switchTabCount++;
      localStorage.setItem("switchTabCount", switchTabCount);
      console.log("save called");
      var ele = document.getElementsByTagName('input');
      for (i = 0; i < ele.length; i++) {
        if (ele[i].type == "radio") {
          if (ele[i].checked) {
            var data_cookie = JSON.parse(retriveCookie('data'));

            data_cookie[{{questions.0.id }}] = ele[i].value;
          setCookie('data', JSON.stringify(data_cookie), 3)

        }
      }
    }
  }
  }
    
    
  function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function cancel(){
    setCookie('data',JSON.stringify({}),0);
    setCookie('allow',JSON.stringify({}),0);
    var url = "{% url 'take-exam' pk=course.id %}"
    console.log(url);
    window.location.href = url;
}

document.addEventListener("visibilitychange", (event) => {
    if (document.visibilityState == "hidden") { // Check for tab becoming inactive
      console.log("tab is inactive");
      // get switchTabCount from local storage
      switchTabCount = parseInt(localStorage.getItem("switchTabCount"));
      switchTabCount--;
      localStorage.setItem("switchTabCount", switchTabCount);
      if (switchTabCount >= 1) {
        showNotifications(switchTabCount); // Uncomment this line if you want to call showNotifications
      } else {
        save("decrement");
        alert("You have switched tabs more than 3 times. Your answers are saved and submitted.");
        console.log("about to call save");
      }
    } else {
      console.log("tab is active");
    }
  });

  function showNotifications(switchTabCount) {
    // First, check if the browser supports notifications
    if (!("Notification" in window)) {
      alert("This browser does not support desktop notifications");
    }

    // Request permission to show notifications
    Notification.requestPermission().then(function (permission) {
      console.log("in permission");
      if (permission === "granted") {
        // Create a new notification

        var notification = new Notification("Be Aware!!", {
          requireInteraction: true,
          body: "Click this notification to go back to the exam page and submit your answers. Your tab switch remaining: " + (switchTabCount) + " times.",
          icon: "https://media.istockphoto.com/id/1407160246/vector/danger-triangle-icon.jpg?s=1024x1024&w=is&k=20&c=avotbFj6kjGw3x4reQ6xO7poLs6AJQ-oCKzDPrP2teQ=" // Optional icon URL
        });

        // Optionally, you can handle notification events
        notification.onclick = function () {
          window.focus();
        };
      } else {
        alert("Permission denied");
      }
    });

  };

</script>

{% endblock content %}
