{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .heading {
      text-align: center;
    }

    .row-m {
      margin: 100px;
    }

    .empty-result{
      padding: 2rem;
      text-align: center;
      font-size: medium;
    }
    
    .table-head{
      background-color: rgb(36, 218, 212);
    }
  </style>
</head>
<br><br>
<div class="container" style="min-height: 42.5vh;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title heading">My Marks</h4>
    </div>

    {% if courses|length >= 1 %}
    <table class="table table-hover table-bordered" id="dev-table" style="margin-top: 50px;">
      <thead class="table-head">
        <tr>

          <th  class="heading">Course</th>
          
          <th  class="heading">Action</th>
        </tr>
      </thead>
      {% for t in courses %}
      <tr>

        <td> {{t.course_name}}</td>
        
        <td class="heading"><a class="btn btn-success btn-sm" style="border-radius:0px;" href="{% url 'check-marks' t.id  %}"><span class="glyphicon glyphicon-eye-open"></span> View Marks</a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="empty-result">
      <span> You have not given any exams. </span>
      <br>
      <span> Check any 
        <a href="{% url 'student-exam' %}"> 
          available
        </a> 
        exams here
    </div>
    {% endif %}
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}