{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    
</head>
<body>
    <br><br>
<div class="container my-4">
    <h4 style="text-align: center;">Examimation Instructions</h4>
    <div class="jumbotron" style="margin-top: 50px;">

        <div class="row justify-content-center">

            <div class="card border-info mx-4 my-4"" style="padding: 20px; width: 1040px;">
                <div class="card-body text-default">

                    <h5 class="card-title">Exam Details :</h5>
                    <p class="card-text">
                        </p><ul>
                            <li>Course : {{course.course_name}}</li>
                            <li > Scheduled at : <span class="exam_date">{{course.exam_date|safe}}</span></li>
                            <li>Total Question : {{course.question_number}}</li>
                            <li>Total Marks : {{course.total_marks}}</li>
                            <li>Total Time : {{course.duration}} minutes</li>
                            <li>Entry Time : {{course.entry_time}} minutes after the exam starts.</li>
                        </ul>
                    <p></p>



                    <h5 class="card-title">Rules :</h5>
                    <p class="card-text">
                        <ul>
                            <li>All questions are MCQ (multiple choice question)</li>
                            <li><span class="text-danger">Only one choice is correct among the given.</span></li>
                            <li>Every question may carry different marks.</li>
                            <li>Try to answer ASAP.</li>
                            <li>If you PRESS refresh or go back to the previous page, there will be a new question for you and the question you were on will be counted as number of attempts.</li>
                            <li>Questions are presented randomly.</li>
                            <li>You will be able to view marks immediately once after you submit the answer.</li>
                            <li><span class="text-danger">You need to enable notification permission in order to take exam .</span></li>
                            <li><strong>Tab Switching Instruction:</strong> Switching tabs during the exam will save your progress until then and auto-submit the exam.</li>
                            <li>You can only leave the exam using the <strong> Leave/Submit</strong> exam buttons</li>
                        </ul>
                    </p>
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" style="z-index:1" role="alert">
                        <strong>Message: </strong>{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    <label for="access_code" style="margin-top: 50px;">Please Enter Access Code for the Exam</label>
                    <input class="form-control" type="text" name="access_code" id="course_access_id">
                    <button type="button" class="btn btn-success" onclick="startExam()" style="margin-top: 15px;">Start Exam</button>
                    {% comment %} <a href="{% url 'start-exam' pk=course.id access_code='d2057ae5-c8d9-483d-a540-2f071023fa29' %}?page=1" class="btn btn-success" style="border-radius:0px;">Enter Examination</a> {% endcomment %}
                </div>  
                <div class="card-footer">Best Of Luck, Students!</div>  
            </div>  
        </div>  

    </div>
</div>
<script>
    // Function to convert exam_time to local time string
  function convertToLocalTime() {
    // Get all elements with the class 'exam_time'
    var examTimeElements = document.querySelectorAll('.exam_date');
    
    // Loop through each element
    const options = {
      weekday: "long",
      year: "numeric",
      month: "long",
      day: "numeric",
      hour: "numeric",
      minute: "numeric"
    };
    examTimeElements.forEach(function(element) {
        // Get the UTC time string from the element
        var utcTimeString = element.textContent.trim();
        console.log("utcTimeString = >",utcTimeString);

        // Parse the UTC date string into a Date object
        var utcDate = new Date(utcTimeString);

        // Get the timezone offset in minutes
        var timezoneOffset = utcDate.getTimezoneOffset();
        console.log(timezoneOffset)

        // Adjust the date to the local timezone
        var localDate = new Date(utcDate.getTime() - (timezoneOffset * 60000));

        // Convert local date to UTC date
        console.log(localDate.toLocaleString("en-US", options))
        element.textContent = localDate.toLocaleString("en-US", options)
    })};

// Call the function to convert exam_time to local time
convertToLocalTime();

    // setting tab count to 3 for student monitoring
    localStorage.setItem('switchTabCount', 3);
 
    function startExam() {
        Notification.requestPermission().then(function (permission) {
            if (permission === "granted") {
                console.log("Notification permission granted.");
                var accessCode = document.getElementById("course_access_id").value;
                var courseId = {{course.id}};

                var url = "{% url 'verify-exam' pk=course.id access_code='d2057ae5-c8d9-483d-a540-2f071023fa29' %}?page=1"
                if(accessCode!=""){
                    url = url.replace("d2057ae5-c8d9-483d-a540-2f071023fa29",accessCode)
                }

                //const resp = fetch(url).then(resp => {console.log(resp);if(resp.status==400){
                //    resp.status=302;
                //}});

                //console.log(accessCode);
                //console.log(courseId);
                //console.log(window.location.pathname)
                //window.location.pathname='student/start-exam/'+courseId+'/'+accessCode;
                document.location.href=url;
            }
            else {
                // request for notification permission
                Notification.requestPermission().then(function (permission) {
                    if (permission === "granted") {
                        console.log("Notification permission granted.");
                    }
                });
            }
        });
    }

</script>
</body>
{% endblock content %}