{% extends 'organization/organizationbase.html' %}
{% block content %}
{%load static%}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .heading {
      text-align: center;
    }

    .empty-result{
      padding: 2rem;
      text-align: center;
      font-size: medium;
    }
    .table-head{
  background-color: #00c5bb;
}
  </style>
</head>
<br>
<div class="container" style="min-height: 65vh;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title heading">Questions</h4>
    </div>
    
    {% if questions|length >= 1 %}
    <table class="table table-hover table-bordered" id="dev-table" style="margin-top: 50px;">
      <thead class="table-head">
        <tr>

          <th class="heading">Questions</th>
         
          <th class="heading">Marks</th>
          <th class="heading">Action</th>
        </tr>
      </thead>
      {% for c in questions %}
      <tr>

        <td> {{c.question}}</td>
        
        <td class="heading">{{c.marks}}</td>
        <td class="heading">
          <a style="border-radius: 0%;" href="{% url 'organization-update-question' c.id  %}"><i class='far fa-edit' style="font-size: 14px; padding: 0px; margin-left: 4px;"></i></a>
          <a style="border-radius: 0%;" href="{% url 'organization-delete-question' c.id  %}"><i class='far fa-trash-alt' style="font-size: 14px; padding: 0px; color: red; margin-left: 20px;"></i></a>
        </td>
        
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="empty-result">
      <span style="font-size: 18px;"> You have not added any questions to this course </span>
      <br>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}