{% extends 'organization/organizationbase.html' %}
{% block content %}
{%load static%}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .heading {
      text-align: center;
      vertical-align: middle !important;
    }
    
    .table-head{
      background-color: #00c5bb;
    }
  </style>
</head>
<br>
<div class="container" style="min-height: 60vh;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title heading">View Marks</h4>
    </div>
    <table class="table table-hover table-bordered" id="dev-table" style="margin-top: 50px;">
      <thead class="table-head">
        <tr>

          <th class="heading">Course</th>
          
          <th class="heading">Total Marks</th>
          <th class="heading">Correct Answers</th>
          <th class="heading">Number of Attempt</th>
          <th class="heading">Exam Date</th>
          <th class="heading">Percentage</th>
          <th class="heading">Status</th>
          <th class="heading">Delete</th>
        </tr>
      </thead>
      
      {% for t in results %}

      
      <tr>

        <td> {{t.exam}}</td>
        <td class="heading"> {{t.marks}}</td>
        <td class="heading"> {{t.correct_answers}}</td>
        <td class="heading">Attempt {{ forloop.counter }}</td>
        <td class = "exam_date"> {{t.date|safe}}</td>
        <td class="heading"> {{t.percentage}}%</td>
        {% comment %} <td> {{t.status}}</td> {% endcomment %}
        {% if t.status == "Pass" %}
        <td style="background-color:rgb(7, 202, 7)" class="heading"> Pass</td>
        {% else %}
        <td style="background-color:rgb(254, 90, 90)" class="heading"> Fail</td>
        {% endif %} 
        <td class="heading"><a style="border-radius: 0%;" href="{% url 'delete-result' t.id  %}"><i class='far fa-trash-alt' style="font-size: 14px; padding: 0px; color: rgb(0, 0, 0); margin-left: 5px;"></i></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
<script>
  // Function to convert exam_time to local time string
  function convertToLocalTime() {
  // Get all elements with the class 'exam_time'
  var examTimeElements = document.querySelectorAll('.exam_date');
  
  // Loop through each element
  const options = {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
    hour: "numeric",
    minute: "numeric"
  };
  examTimeElements.forEach(function(element) {
      // Get the UTC time string from the element
      var utcTimeString = element.textContent.trim();
      console.log("utcTimeString = >",utcTimeString);

      // Parse the UTC date string into a Date object
      var utcDate = new Date(utcTimeString);

      // Get the timezone offset in minutes
      var timezoneOffset = utcDate.getTimezoneOffset();
      console.log(timezoneOffset)

      // Adjust the date to the local timezone
      var localDate = new Date(utcDate.getTime() - (timezoneOffset * 60000));

      // Convert local date to UTC date
      console.log(localDate.toLocaleString("en-US", options))
      element.textContent = localDate.toLocaleString("en-US", options)
  })};

  // Call the function to convert exam_time to local time
  convertToLocalTime();
</script>
{% endblock content %}