{% extends 'organization/organizationbase.html' %}
{% block content %}
{%load static%}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .heading {
      text-align: center;
    }
    
    .empty-result{
      padding: 2rem;
      text-align: center;
      font-size: medium;
    }

.table-head{
  background-color: #00c5bb;
}
  </style>
</head>
<br>
<div class="container" style="min-height: 60vh;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title heading">Students</h4>
    </div>
    
    {% if students|length >= 1 %}
    <table class="table table-hover table-bordered" id="dev-table" style="margin-top: 50px;">
      <thead class="table-head">
        <tr>

          <th class="heading">Name</th>
          <!-- <th class="heading">Photo</th> -->
          <th class="heading">Contact</th>
          <th class="heading">Address</th>
         
          <th class="heading">Actions</th>
        </tr>
      </thead>
      {% for t in students %}
      <tr>

        <td> {{t.get_name}}</td>
        <!-- <td> <img src="{% static t.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td> -->
        <td>{{t.mobile}}</td>
        <td>{{t.address}}</td>
        
        <td class="heading"><a style="border-radius: 0%;" href="{% url 'organization-update-student' t.id  %}"><i class='far fa-edit' style="font-size: 14px; padding: 0px; margin-left: 4px;"></i></a>
        <a style="border-radius: 0%;" href="{% url 'organization-delete-student' t.id  %}"><i class='far fa-trash-alt' style="font-size: 14px; padding: 0px; color: red; margin-left: 20px;"></i></a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="empty-result">
      <span style="font-size: 18px;"> You do not have any students added to your organization! </span>
      <br>
      <span> Share this
        <a href='{% url 'studentsignup' %}'> 
          link
        </a> 
        and when they register you see them listed here
    </div>
    {% endif %}
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}