asgiref==3.2.7
asttokens==2.4.1
click==8.1.7
colorama==0.4.6
cssbeautifier==1.15.1
decorator==5.1.1
Django==3.0.5
django-widget-tweaks==1.4.8
EditorConfig==0.12.4
et-xmlfile==1.1.0
executing==2.0.1
gitdb==4.0.11
GitPython==3.1.43
html-tag-names==0.1.2
html-void-elements==0.1.0
ipython==8.22.2
jedi==0.19.1
jsbeautifier==1.15.1
json5==0.9.24
matplotlib-inline==0.1.6
mysqlclient==2.2.4
numpy==1.26.4
openpyxl==3.1.2
openpyxl-image-loader==1.0.5
pandas==2.2.1
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
pillow==10.2.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2020.1
PyYAML==6.0.1
regex==2023.12.25
six==1.16.0
smmap==5.0.1
sqlparse==0.3.1
stack-data==0.6.3
tqdm==4.66.2
traitlets==5.14.2
tzdata==2024.1
wcwidth==0.2.13
XlsxWriter==3.2.0
