{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <style>
      .content-box {
        margin-top: 3rem;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    {% include "exam/navbar.html" %}

    <div
      class="mt-20 p-4 rounded bg-white max-w-sm text-center border-t-4 border-red-600 mx-auto text-gray-700 pt-0"
    >
      <div class="alert alert-info content-box">
        <br />
        <h3 class="font-bold text-2xl text-black mb-2">Logged out!</h3>
        <hr />

        <span> You have been logged out from your account! </span>
        <br />

        <p>
          You will be redirected to the
          <a class="text-decoration-none" href="{% url 'contact-us-view' %}">
            homepage
          </a>
          within in <span id="timer">5</span> seconds.
        </p>
      </div>
    </div>
    {% include "exam/footer.html" %}

    <script>
      function clearAllCookies() {
        var Cookies = document.cookie.split(";");
        // set past expiry to all cookies
        for (var i = 0; i < Cookies.length; i++) {
          document.cookie =
            Cookies[i] + "=; expires=" + new Date(0).toUTCString();
        }
      }

      clearAllCookies();
      let timer = 5;
      // redirect to the homepage
      window.setInterval(function () {
        if (timer == 0) {
          window.location.href = `{% url '' %}`;
        }
        else{
          timer -= 1;
        }
        document.getElementById("timer").innerHTML = timer;
      }, 1000);
    </script>
  </body>
</html>
