{% extends 'teacher/teacherbase.html' %} {% load widget_tweaks %} 
{% block content %}
{% load static %}
<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    a:link {
      text-decoration: none;
    }

    .image-section{
      max-width: fit-content;
      padding:2px;
      border:1px solid black;
    }
    .image-section:hover{
      cursor: pointer;
    }
    .btn-color{
      background-color: rgb(246, 75, 75);
      color: white;
      margin-top: 10px;
      width: 70px;
      font-size: medium;
      border-radius: 3px;
    }
    .head-style{
      font-size: 18px;
      margin-top: 15px;
    }
    .head-style2{
      font-size: 18px;
      margin-top: 40px;
    }
    .head-style3{
      font-size: 15px;
      margin-top: 5px;
    }
    .dropdown-style{
      width: 300px;
      margin-left: 20px;
    }
  </style>
</head>
<h2 style="text-align: center">Update Question</h2>
<form
  method="POST"
  id="update_question_form"
  autocomplete="off"
  style="margin: 100px; margin-top: 0px"
  enctype="multipart/form-data"
>
  {%csrf_token%}
  <div class="form-group" style="margin-top: 30px;">
    <label for="question" class="head-style">Course</label>
    {% render_field questionForm.courseID|attr:'required:true' class="form-control" %}
    

    <label for="question" class="head-style">Question</label>
    {% render_field questionForm.question|attr:'required:true' class="form-control" placeholder="Example: Which one of the following is not a phase of Prototyping Model?" %}
    
    <label for="question_image" class="head-style">Image</label> 
    
    {% if questionForm.question_image.value %}
    <div class="image-section head-style">
      <img src="{% static '' %}{{ questionForm.question_image.value }}" alt="Image not present" width="350" height="250">
    </div>
    {% endif %}
 
    {% render_field questionForm.question_image class="form-control" %}
    
    <label for="question_number"  class="head-style">Marks</label>
    {% render_field questionForm.marks|attr:'required:true' class="form-control" placeholder="Example: 5" %}
    
    <div class="head-style">
      Options
    </div>

    <div id="options">
      {% for option in optionForm %}
      <div>
      <label class="head-style3">{{option.option.label}} </label>
       {% render_field option.option|attr:'required:true' class="form-control" placeholder="Example: Quick Design" oninput="createDropdown()" %}
       
       <button  onclick="deleteCodeFromForm(this)" class="btn-color">Delete</button>
      
      </div>
      {% endfor %}
    </div>
    <label for="answer" onload="createDropdown()" class="head-style2">Correct Answer</label>
    <select id="dropdown" name="answer" class="dropdown-style">
      <option>Select an option</option>
    </select>

    {% comment %} {% render_field questionForm.answer|attr:'required:true'
    class="form-control" %} {% endcomment %}
  </div>

  <button
    type="button"
    class="btn btn-primary"
    style="border-radius: 0px; margin-top: 20px; width: 150px;"
    onclick="addCodeToForm()"
  >
    Add Option
  </button>
  <button type="submit" class="btn btn-success" style="border-radius: 0px; margin-top: 20px; width: 150px;">
    Update Question
  </button>
</form>

<script>
  function addCodeToForm() {
    var form = document.getElementById("options");

    // Create a new input element
    var elem = `<div ><label style="font-size: 15px; margin-top: 5px;">Option</label>
      {% render_field newOption.option|attr:'required:true' class="form-control" placeholder="Example: Coding" oninput="createDropdown()"  %}
      <button style="background-color: rgb(246, 75, 75); color: white; margin-top: 10px; width: 70px; font-size: medium; border-radius: 3px;" onclick="deleteCodeFromForm(this)">Delete</button>
      <br/><br/>
    </div>`


    // Append the new input element to the form
    form.innerHTML += elem;
    createDropdown();
  }

  function deleteCodeFromForm(elem) {
    obj = elem.parentElement
    obj.remove();
    createDropdown();
}

  function createDropdown() {
    console.log("createDropdown called");
  var optionsDiv = document.getElementById("options");
  var dropdown = document.getElementById("dropdown");

  // Clear existing options
  dropdown.innerHTML = "<option>Select an option</option>";

  // Iterate through child elements of options div and add them to dropdown
  for (var i = 0; i < optionsDiv.children.length; i++) {
      var optionDiv = optionsDiv.children[i];
      //console.log(optionDiv.nodeName);
      if (optionDiv.nodeName == "DIV")
      {
        //console.log(optionDiv.children[0].innerHTML);
        //var optionText = optionDiv.children[0].innerHTML; // Get the text content of the div
        // Create a new option element
        var option = document.createElement("option");
        //option.textContent = optionText;
        option.textContent = optionDiv.children[1].value;
        console.log(option.textContent);
        if(option.textContent==`{{answerForm}}`){
          option.selected=true;
        }
        // Append the option to the dropdown
        dropdown.appendChild(option);
        console.log(dropdown.appendChild(option));
      }
  }
  
}
  createDropdown();
</script>
{% endblock content %}
