{% extends 'teacher/teacherbase.html' %}
{% block content %}
{%load static%}

<head>
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .heading {
      text-align: center;
    }

.table-head{
  background-color: #00c5bb;
}
  </style>
</head>
<br>
<div class="container" style="min-height: 60vh;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title heading">Available Questions</h4>
    </div>
    <table class="table table-hover table-bordered" id="dev-table" style="margin-top: 50px;">
      <thead class="table-head">
        <tr>

          <th class="heading">Question</th>
         
          <th class="heading">Marks</th>
          <th class="heading">Action</th>
        </tr>
      </thead>
      {% for c in questions %}
      <tr>

        <td> {{c.question}}</td>
        
        <td class="heading">{{c.marks}}</td>
        <td class="heading">
          <a style="border-radius: 0%;" href="{% url 'teacher-update-question' c.id  %}"><i class='far fa-edit' style="font-size: 14px; padding: 0px; margin-left: 4px;"></i></a>
          <a style="border-radius: 0%;" href="{% url 'teacher-remove-question' c.id  %}"><i class='far fa-trash-alt' style="font-size: 14px; padding: 0px; color: red; margin-left: 20px;"></i></a>
        </td>
        
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}