{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
  a:link {
        text-decoration: none;
      }
    .head-style{
      font-size: 18px;
      margin-top: 15px;
    }
    .head-style2{
      font-size: 18px;
      margin-top: 40px;
    }
    .head-style3{
      font-size: 15px;
      margin-top: 5px;
    }
    .dropdown-style{
      width: 300px;
      margin-left: 20px;
    }
    .delete-btn{
      background-color: rgb(246, 75, 75);
      color: white;
      margin-top: 10px;
      width: 70px;
      font-size: medium;
      border-radius: 3px;
    }
  </style>
</head>
<h2 style="text-align:center;">Add Question</h2>
<form method="POST" id="add_question_form" autocomplete="off" style="margin:100px;margin-top: 0px;" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="form-group" style="margin-top: 30px;">
        <label for="question" class="head-style">Course</label>
      {% render_field questionForm.courseID|attr:'required:true' class="form-control"  %}

      <label for="question" class="head-style">Question</label>
      {% render_field questionForm.question|attr:'required:true' class="form-control" placeholder="Example: Which one of the following is not a phase of Prototyping Model?" %}

      <label for="question_image" class="head-style">Image</label>
      {% render_field questionForm.question_image class="form-control" %}
      
      <label for="question_number" class="head-style">Marks</label>
      {% render_field questionForm.marks|attr:'required:true' class="form-control" placeholder="Example: 5" %}
      
      <div id="options" class="head-style">
        <span class="head-style"> Options</span>
      </div>
        
      <label for="answer" class="head-style2" onload="createDropdown()">Correct Answer</label>
      <select id='dropdown' class="dropdown-style" name="answer" required>
        <option>Select an option</option>
      </select>


      {% comment %} {% render_field questionForm.answer|attr:'required:true' class="form-control" %} {% endcomment %}
    </div>
    
    <button type ="button" class="btn btn-primary" style="border-radius:0px; margin-top: 20px; width: 150px;" onclick="addCodeToForm()">Add Option</button>
    <button type="submit" class="btn btn-success" style="border-radius:0px; margin-top: 20px; width: 150px;">Submit Question</button>
  </form>

  

  <script>
    var optionNumber = 0;
    function addCodeToForm() {
        // Append the new input element to the form
       // form.innerHTML += elem;
      optionNumber++;
      const div = document.createElement('div');
      const label = document.createElement('label');
      label.className="head-style3";
      label.innerHTML = "Option "+optionNumber;
      div.appendChild(label);

      var inputElem = document.createElement('input');
      inputElem.type = "text";
      inputElem.className="form-control";
      inputElem.name="option";
      inputElem.maxlength="200";
      //inputElem.oninput="createDropdown()";
      inputElem.placeholder = "Example";
      inputElem.required = true;
      inputElem.addEventListener('input', function(event){
        createDropdown();
      })

      div.appendChild(inputElem);

      var btn = document.createElement('button');
      btn.className="delete-btn"
      btn.innerHTML = "Delete";
      btn.addEventListener('click',function(event){deleteCodeFromForm(this)})

      div.appendChild(btn)
      div.appendChild(document.createElement("br"))
      div.appendChild(document.createElement("br"))

      document.getElementById("options").appendChild(div);
      createDropdown()
    }
    
    function deleteCodeFromForm(elem) {
        obj = elem.parentElement
        obj.remove();
        createDropdown();
    }

    function createDropdown() {
      var optionsDiv = document.getElementById("options");
      var dropdown = document.getElementById("dropdown");
  
      // Clear existing options
      dropdown.innerHTML = "<option>Select an option</option>";
  
      // Iterate through child elements of options div and add them to dropdown
      for (var i = 0; i < optionsDiv.children.length; i++) {
          var optionDiv = optionsDiv.children[i];
          //console.log(optionDiv.nodeName);
          if (optionDiv.nodeName == "DIV")
          {
            //console.log(optionDiv.children[0].innerHTML);
            //var optionText = optionDiv.children[0].innerHTML; // Get the text content of the div
            // Create a new option element
            var option = document.createElement("option");
            //option.textContent = optionText;
            option.textContent = optionDiv.children[1].value;
            console.log(option);
            // Append the option to the dropdown
            dropdown.appendChild(option);
          }
      }
      
    }
    createDropdown();

    document.querySelector(".btn-success").addEventListener("click", function(event) {

let dropdown = document.getElementById("dropdown");
if (dropdown.value === "Select an option") {
    event.preventDefault();

    alert("Please select a correct answer or add an option first.");

    dropdown.focus();
}
});

document.querySelector(".form-control").style.height="35px";
    </script>
<br><br><br>
{% endblock content %}
