{% load static %}
<style>
    .image-options{
        padding: 0.5rem;
        padding-left: 0;
    }

</style>
{% if widget.is_initial %}
    <div class="image-options">
        <a class="image-options" target="_blank"  href="{% static '' %}{{ widget.value.url }}"> Open in new tab </a>
        
        {% if not widget.required %}
        <input class="image-options" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"
        
        {% if widget.attrs.disabled %} 
        disabled
        {% endif %}
        
        {% if widget.attrs.checked %}
        checked
        {% endif %}>
        
        <label for="{{ widget.checkbox_id }}">
            Remove
        </label>
        {% endif %}
        <br>        
    </div>
    <!-- {{ widget.input_text }}: -->
    Upload image :
{% endif %}

<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>