{% extends 'common/navbar.html' %}
{% load widget_tweaks %}

{% block content %}

<style>
  .content-box {
    margin-top: 3rem;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<div
  class="mt-20 p-4 rounded bg-white max-w-sm text-center border-t-4 border-red-600 mx-auto text-gray-700 pt-0"
>
  <div class="alert alert-info content-box">
    <br />
    <h3 class="font-bold text-2xl text-black mb-2">Password Changed</h3>
    <hr>

    <span>
      Since you have changed your password, you have been logged out from all the sessions.
    </span>
    <br />

    <p>
        You need to 
        <a class="text-decoration-none" href="{% url '' %}"> login </a> 
      to access the examination portal.
    </p>

    <p>
      Still having some problems? 
      <a class="text-decoration-none" href="{% url 'contact-us-view' %}">  Contact </a>
      us
    </p>
  </div>
</div>
{% endblock content %}
