{% extends 'common/navbar.html' %} 

{% block content %}

<style>
  .content-box {
    margin-top: 3rem;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<div
  class="mt-20 p-4 rounded bg-white max-w-sm text-center border-t-4 border-red-600 mx-auto text-gray-700 pt-0"
>
  <div class="alert alert-info content-box">
    <br />
    <h3 class="font-bold text-2xl text-black mb-2">Password Reset Email Sent</h3>
    <hr>

    <span>
      If you are a registered user, an email has been sent to your email address
      with instructions to reset your password.
    </span>
    <br />

    <p>
      In case, you don't receive, check your spam folder or
      <a class="text-decoration-none" href="{% url 'contact-us-view' %}"> inform </a>
      us
    </p>
    <p>
      Mistakely sent the email? No worries, go back to
        <a class="text-decoration-none" href="{% url '' %}"> homepage </a> 
      and be on track!
    </p>
  </div>
</div>
{% endblock content %}
