To reset/change your password for the account, <b> {{ user.get_username }} </b>

Click the link below to complete the process.
<a href="{{ protocol }}://{{ domain }}{% url 'password-reset-confirm' uidb64=uid token=token %}">
    Reset/Change Password
</a>

URL: {{ protocol }}://{{ domain }}{% url 'password-reset-confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

<h3> If this wasn't you </h3>
This email was sent because someone attempted to reset/change your password on Assigny.

If you are not trying to log in, we recommend that you contact your faculty or your organization. 

The login URL contained in this email is required to access your account for reseting the password. Do not share this with anyone.

Sincerely,
Team Assigny