{% extends 'common/navbar.html' %} {% load widget_tweaks %}
<!-- <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Reset Password</button>
        </div>
    </form>
</div> -->

{% block content %}

<style>
  .content-box {
    margin-top: 8rem;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .change-password-button {
    background-color: rgb(0, 149, 0);
  }

  .change-password-button:hover {
    background-color: rgb(0, 137, 0);
  }
  .list-item {
    text-align: left;
  }
  .field {
    text-align: left;
  }
</style>

<div class="content-box">
  {% if validlink %}

  <form method="post">
    {% csrf_token %}

    <div
      class="mt-20 p-0 rounded bg-white max-w-sm text-center border-t-4 border-red-600 mx-auto text-gray-700 pt-0"
    >
      <h3 class="font-bold text-2xl text-black mb-2">Change your password</h3>
      <hr />
      <p class="">Your password should follow the rules listed below</p>
      <div class="d-flex flex-column bd-highlight">
        <ul>
          <li class="list-item">Atleast 8 characters</li>
          <li class="list-item">Atleast one uppercase letter</li>
          <li class="list-item">Atleast one lowercase letter</li>
          <li class="list-item">Atleast a special symbol letter</li>
          <li class="list-item">
            Your password should not match any of the details you used to register with.
          </li>
        </ul>
      </div>

      <div class="mx-2 text-left">
        {% if form.new_password1.errors or form.new_password2.errors %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

            <h6> Your password lacks the above requirements</h6>
          
            <section class="errors-container">
                {% for f, es in form.errors.items %}
                    {% for e in es %}
                        <div>- {{ e }}</div>
                    {% endfor %}
                {% endfor %}
            </section>
        
        </div>
        {% endif %}
            <div class="form-group field">
            <label for="id_new_password1">New password</label>
            {% render_field form.new_password1 class="form-control" placeholder="Enter your new password" %}
            </div>
            <div class="form-group field">
            <label for="id_new_password2">Confirm password</label>
            {% render_field form.new_password2 class="form-control" placeholder="Confirm your new password" %}
            </div>
        <fieldset class="module aligned">
        </fieldset>
      </div>
      <button
        class="w-1/2 ml-1 border border-red-600 text-white border-gray-500 hover:bg-red-700 hover:border-red-700 py-2 px-4 rounded font-medium delete-button change-password-button"
        type="submit"
      >
        Change password
      </button>
    </div>
  </form>
</div>
{% else %}

<div class="alert alert-info content-box">
  <p class="">
    The password reset link was invalid, possibly because it has already been
    used. Please request a new password reset.
  </p>
</div>
{% endif %} {% endblock content %}
